S3method(generate,blockmatrix)
export(CCGamma)
export(CCGammaToBlockmatrix)
export(CoeffYWeq)
export(WilksGaussianization)
export(dw.spell)
export(fitdistrForPrecipitation)
export(modifyCovariance)
export(omega)
export(omega_inv)
export(omega_root)
export(precipitation.depth)
export(precipitation.probability)
export(qqfit)
export(rearrange.precipitation.generation)
import(Matrix)
import(RMAWGEN)
import(blockmatrix)
import(copula)
importFrom(RGENERATE,generate)
