S3method(generate,CCGammaObjectListPerEachMonth)
S3method(generate,PrecipitationOccurenceModel)
S3method(generate,PrecipitationOccurenceMultiSiteModel)
S3method(predict,PrecipitationOccurenceModel)
export(CCGamma)
export(CCGammaToBlockmatrix)
export(PrecipitationOccurenceModel)
export(PrecipitationOccurenceMultiSiteModel)
export(dw.spell)
export(nwetdays)
export(omega)
export(omega_inv)
export(omega_root)
import(Matrix)
import(RMAWGEN)
import(blockmatrix)
import(copula)
importFrom(RGENERATE,generate)
